*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: beige;
    color:#333;
}
.card-container{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap:20px;
    max-width: 80%;
    margin: 50px auto;
}
.card{
    background-color: beige;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card-content{
    padding: 20px;
}
.card-content h3{
    font-size: 30px;
    margin-bottom: 10px;
    color:black
}
.card-content p{
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 6px;
}

@media screen and(max-width: 768px);{
    .card img{
        height:150px;
    }
    .card-content h3{
       font-size: 20px; 
    }
    .card-content p{
        font-size: 15px;
    }
    

}